.header1{

    position: absolute;
    width: 100%;
    height: 13%;
    background-color: black; 
    top:0px ;
    left: 0px;
}

.nav1{
    position: absolute;
    width: 23%;
    height: 87%;
    background-color: rgb(0, 255, 34);
    top: 13%;
    left: 0px;
}

.cajaNAV1{
    position: absolute;
    width: 100%;
    height: 36%;
    background-color: blue;
    top: 0px;
    left: 0px;

}

.cajaNAV2{
    position: absolute;
    width: 100%;
    height: 64%;
    background-color: black;
    top: 36%;
    left: 0px;
    box-sizing: 1;

    overflow-y:hidden;

}

.ctrban{
    position: absolute;
    background-color: black;
    width: 70%;
    height: 70%;
    left: 26%;
    top: 20%;
}

.DIVbtn1{
    position: absolute;
    width: 100%;
    height: 17%;
    top: 3%;
    left: 0px;
    background-color: black;
}

.DIVbtn2{
    position: absolute;
    width: 100%;
    height: 17%;
    top: 23%;
    left: 0px;
    background-color: black;
}

.DIVbtn3{
    position: absolute;
    width: 100%;
    height: 17%;
    top: 43%;
    left: 0px;
    background-color: black;
}

.DIVbtn4{
    position: absolute;
    width: 100%;
    height: 17%;
    top: 63%;
    left: 0px;
    background-color: black;
}

.btn{
    width: 85%;
    height: 100%;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: #FC2D2D;
    box-shadow: 5px 5px 5px grey;
}

.btn:hover{
    background-color: #FE4444;
}

.btn:focus{
    width: 85%;
    height: 100%;
    cursor: pointer;
    color: black;
    background-color: #F96C2A;
}

.main1AltaProducto{
    position: absolute;
    width: 77%;
    height: 87%;
    left: 23%;
    top: 13%;
    background-color: bisque;
    display: none;

}

.main2AltaAdmin{
    position: absolute;
    width: 77%;
    height: 87%;
    left: 23%;
    top: 13%;
    background-color: rgb(255, 140, 0);
    display: none;
}

.main3pedidos{
    position: absolute;
    width: 77%;
    height: 87%;
    left: 23%;
    top: 13%;
    background-color: rgb(255, 0, 221);
    display: none;
}

.main4curriculum{
    position: absolute;
    width: 77%;
    height: 87%;
    left: 23%;
    top: 13%;
    background-color: transparent;
    display: none;
}

.contenedorCurriculums{
    background-color: rgb(161, 202, 137);
    position: relative;
    width: 100%;
    height: 100%;
    left: 0%;
    top: -8.5%;
}

.tablaCurriculums{
    border-color: none;
}

tr th{
    border: 2px solid black;
}

.acclink{
    position: absolute;
    left: 1%;
    top: 7%;
    width: 9%;
    height: 50%;
    color: white;
    background-color: black;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    border: 1px solid white;
}

.acclink:hover{
    cursor: pointer;
}

.clslink{
    position: absolute;
    left: 11%;
    top: 7%;
    width: 21%;
    height: 50%;
    color: white;
    background-color: black;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    border: 1px solid white;
    text-align: center;
}

.clslink:hover{
    cursor: pointer;
}

.curri{
    position: absolute;
    left: 35%;
    top: 17%;
    border-color: white;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

.divcur{
    position: relative;
    display: block;
    border-color: none;
    left: 37%;
    top: 25%;
}

.btncur{
    position: relative;
    display: block;
    width: 19%;
    margin-bottom: 2px;
    background-color: black;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.btncur:hover{
    background-color: white;
    color: black;
}

.nomcur{
    position: absolute;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 5%;
    left: 45%;
}

.nomcur:hover{
    text-shadow: -.5px .5px black;
}

.appcur{
    position: absolute;
    color: black;
    top: 10%;
    left: 45%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.appcur:hover{
    text-shadow: -.5px .5px black;
}

.apmcur{
    position: absolute;
    color: black;
    top: 15%;
    left: 45%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.apmcur:hover{
    text-shadow: -.5px .5px black;
}

.rescur{
    position: absolute;
    color: black;
    top: 26%;
    left: 30%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.rescur:hover{
    text-shadow: -.5px .5px black;
}

.hiscur{
    position: absolute;
    color: black;
    top: 37%;
    left: 30%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hiscur:hover{
    text-shadow: -.5px .5px black;
}

.forcur{
    position: absolute;
    color: black;
    top: 48%;
    left: 30%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.forcur:hover{
    text-shadow: -.5px .5px black;
}

.corcur{
    position: absolute;
    color: black;
    top: 54%;
    left: 30%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.corcur:hover{
    text-shadow: -.5px .5px black;
}

.telcur{
    position: absolute;
    color: black;
    top: 60%;
    left: 30%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.telcur:hover{
    text-shadow: -.5px .5px black;
}

.naccur{
    position: absolute;
    color: black;
    top: 66%;
    left: 30%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.naccur:hover{
    text-shadow: -.5px .5px black;
}

.envcur{
    position: absolute;
    color: black;
    top: 72%;
    left: 30%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.envcur:hover{
    text-shadow: -.5px .5px black;
}

.idcur{
    position: absolute;
    color: black;
    top: 78%;
    left: 30%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.idcur:hover{
    text-shadow: -.5px .5px black;
}

.imgcur{
    position: absolute;
    top: 7%;
    left: 30%;
    width: 13%;
    height: 20%;
    border: 2px solid black;
}