@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

/*HEADER START*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #FFFBFB;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: relative;
    top: 0;
    left: 0;
    }
    
    #Navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #Navbar li{
       
        list-style: none;
        padding: 0 20px;
        position: relative;
    }
    
    #Navbar li a{
        padding: 10px 15px;
        text-decoration: none;
        font-size: 13px;
        font-weight: 600;
        color: #393939;
        transition: all 0.3s ease;
    }
    
    #Navbar li a:hover{
        border-radius: 15px;
        padding: 10px 15px;
        background-color: #CA0101;
        color: #fff;
    }
    


.container-boss{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-top: 40px;
}

.container{
    display: flex;
    gap: 20px;
    background-color: #fff;
    width: 100%;
    max-width: 920px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1) ;
}

.container img{
    width: 50%;
    
    border-radius: 20px;
    object-fit: cover;
}

.container form{
    width: 50%;
}

form h2{
    text-align: center;
    margin-bottom: 20px;
}

.form-control{
    position: relative;
    margin-bottom: 15px;
}

.form-control label{
    display: block;
    margin-bottom: 5px;
    
}

.form-control input, select{
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 2px solid #393939;
    border-radius: 10px;
    outline: none;
}



button{
    width: 100%;
    border: none;
    padding: 10px;
    background-color: #CA0101;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #5e0303;
}

